<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Crear Nueva Tarea</h4>
    <form
      [formGroup]="form"
      (ngSubmit)="createTask()"
      (keydown.enter)="$event.preventDefault()"
    >
      <div class="row">
        <div class="input-field">
          <input
            type="text"
            id="title"
            name="title"
            formControlName="title"
            placeholder="Nombre de la tarea"
          />
          <label for="title">Nombre de la tarea</label>
        </div>
        <div
          class="msg-error"
          *ngIf="form.get('title')?.invalid && form.get('title')?.touched"
        >
          <small>El nombre es requerido.</small>
        </div>
        <div class="input-field">
          <input
            type="text"
            id="deadline"
            name="deadline"
            formControlName="deadline"
            class="datepicker"
            readonly
          />
          <label for="deadline">Fecha limite</label>
        </div>
        <div
          class="msg-error"
          *ngIf="form.get('deadline')?.invalid && form.get('deadline')?.touched"
        >
          <small>La fecha límite es requerida.</small>
        </div>
      </div>

      <!-- personas asociadas -->
      <div formArrayName="persons">
        <div
          *ngFor="let person of persons.controls; let personIndex = index"
          [formGroupName]="personIndex"
        >
          <!-- Nombre de la persona -->
          <div class="input-field">
            <input
              type="text"
              formControlName="name"
              placeholder="Nombre de la persona"
            />
            <label for="name">Persona {{ personIndex + 1 }} Asociada</label>
          </div>
          <div
            class="msg-error"
            *ngIf="person.get('name')?.invalid && person.get('name')?.touched"
          >
            <small>El nombre de la persona es requerido.</small>
          </div>

          <!-- Edad de la persona -->
          <div class="input-field">
            <input type="number" formControlName="age" placeholder="Edad" />
            <label for="age">Edad</label>
          </div>
          <div
            class="msg-error"
            *ngIf="person.get('age')?.invalid && person.get('age')?.touched"
          >
            <small
              >La edad es requerida y debe ser un número entre 18 y 80.</small
            >
          </div>

          <!-- Habilidades de cada persona -->
          <div formArrayName="skills">
            <div
              class="row"
              *ngFor="
                let skill of skills(personIndex).controls;
                let skillIndex = index
              "
            >
              <div class="input-field col l6 s12">
                <input
                  type="text"
                  [formControlName]="skillIndex"
                  placeholder="Habilidad"
                />
              </div>
              <div class="col l4">
                <button
                  class="red darken-2 btn"
                  type="button"
                  (click)="removeSkill(personIndex, skillIndex)"
                >
                  Quitar
                  <i class="material-icons right">delete</i>
                </button>
              </div>
            </div>
            <div class="row">
              <div class="col s12 right-align">
                <button
                  class="blue accent-2 btn"
                  type="button"
                  (click)="addSkill(personIndex)"
                >
                  Agregar
                  <i class="material-icons right">add</i>
                </button>
              </div>
            </div>
          </div>

          <!-- Botón para eliminar persona -->
          <div class="row">
            <div class="col s12 right-align">
              <button
                class="red darken-2 btn"
                type="button"
                (click)="removePerson(personIndex)"
              >
                Quitar
                <i class="material-icons right">delete</i>
              </button>
            </div>
          </div>
          <div *ngIf="obtenerErrores(personIndex)">
            {{ obtenerErrores(personIndex) }}
          </div>
        </div>
      </div>

      <!-- Botón para añadir persona -->
      <div class="row">
        <div class="col s12 right-align">
          <button type="button" class="blue accent-2 btn" (click)="addPerson()">
            Añadir
            <i class="material-icons right">person_add</i>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col s12 right-align">
          <button
            class="waves-effect waves-light btn"
            [disabled]="validateSendForm()"
            type="submit"
          >
            Enviar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      class="modal-close grey darken-2 btn"
      (click)="closeModal()"
      #closeBtn
    >
      Cerrar
    </button>
  </div>
</div>
